<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mosquefinder.arnal.prayertimesapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- The API key for Google Maps-based APIs. -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAzo0mr0smOOFgJD_uVTiaSJSYhG00pgXk" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".QiblaActivity"
            android:label="@string/qibla"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".database.DuaContentProvider"
            android:authorities="com.mosquefinder.arnal.prayertimes"
            android:exported="false" />

        <activity
            android:name=".DuaActivity"
            android:label="@string/dua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DetailDuaActivity"
            android:label="@string/dua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DuaActivity" />
        </activity>
        <activity
            android:name=".FavorDetailsActivity"
            android:label="@string/dua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DuaActivity" />
        </activity>
        <activity
            android:name=".NamesActivity"
            android:label="@string/names">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DuaActivity" />
        </activity>

        <receiver android:name=".SimpleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_info" />
        </receiver>

        <activity
            android:name=".DetailNamesActivity"
            android:label="@string/names">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NamesActivity" />
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".QuranActivity"
            android:label="@string/title_activity_quran"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mosquefinder.arnal.prayertimesapp.MainActivity" />
        </activity>
        <activity
            android:name=".DetailQuranActivity"
            android:label="@string/quran">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuranActivity" />
        </activity>
    </application>

</manifest>